*{
    margin:0;
}
header{
    width:100vw;
height: 84px;
background-color:rgba(245, 247, 250, 1);
;
display:flex;
justify-content: space-between;
align-items: center;
}
.item{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 299px;
    gap:20px;
}
.item button{
    background-color: green;
    color:white;
    border:1px solid transparent;
    border-radius: 2px;
}
.section-1{
    width:100vw;
    height:599px;
    background: rgba(245, 247, 250, 1);
    padding-left:400px;
    padding-top:300px;
}
.section-1 h1{
    font-size:60px;
}
.section-1 h1 span{
    color:green;
}
.section-1 button{
    background-color: green;
    color:white;
    border:1px solid transparent;
    border-radius: 2px;
}
.section-1 img{
    position: absolute;
    right:400px;
    top:300px;
}
.section-1 button{
    width:228px;
    height: 52px;
}
.section-2 h1{
    text-align: center;
}
.section-2 p{
    text-align: center;
    color: rgba(113, 113, 113, 1);

}
.img{
    display: flex;
    justify-content: space-between;
}
.membership{
    display:flex;
    justify-content: center;
}
